.header {
    &__headline {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
    }

    &__subheadline {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }

    &__authentication {
display: flex;
justify-content: space-evenly;
margin-top: 20px;
        &__text {
            font-size: 1.1em;
        }
    }

}
.action{
    margin: 3px;
    justify-content: center;
    align-items: center;
    &__register-btn{
        position: relative;
        font-size: 1.1em;
        background: linear-gradient(90deg, #2ed558, #71a8ec );
        letter-spacing: 1px;
        border: none;
        border-radius: 5px;
        padding: 7px 12px;
        background-color:  #2ed558;
        color: white;
        text-decoration: none;
    }
    &__login-btn{
        position: relative;
        background: linear-gradient(90deg, #71a8ec, #2ed558 );
        font-size: 1.1em;
        letter-spacing: 1px;
        border: none;
        border-radius: 5px;
        padding: 7px 12px;
        background-color:  #71a8ec;
        color: white;
        text-decoration: none;
    }
    &__register-btn:hover{
        background: linear-gradient(90deg, #71a8ec, #2ed558, #71a8ec );
        background-size: 400%;
        z-index: 1;
        animation: glow 6s linear infinite;

    }
    &__login-btn:hover
    {
        background: linear-gradient(90deg, #2ed558, #71a8ec, #2ed558 );
        background-size: 400%;
        z-index: 1;
        animation: glow 6s linear infinite;
    }
    &__register-btn::before, &__login-btn::before
    {
        content: '';
        position: absolute;
        background: inherit;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        border-radius: 5px;
        filter: blur(35px);
        opacity: 0;
        transition: opacity 0.5s;
    }
    &__register-btn:hover:before, &__login-btn:hover:before
    {
        opacity: 1;
        z-index: -1;
    }
    @keyframes glow {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }

}